<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.lampstudio.com.manager_money">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.PERMISSION.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:name=".volley.AppController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="app.lampstudio.com.manager_money.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="app.lampstudio.com.manager_money.Add_transaction"
            android:label="@string/title_activity_add_transaction"></activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="app.lampstudio.com.manager_money.Manager_acc"
            android:label="@string/title_activity_manager_acc"
            >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="app.lampstudio.com.manager_money.Statis_deal"
            android:label="@string/title_activity_statis_deal"
            >
        </activity>
    </application>

</manifest>